{% extends 'layouts/app.twig' %}
{% block main_content %}
        <section class="headings">
            <div class="text-heading text-center">
                <div class="container">
                    <h1>S'enregistrer</h1>
                    <h2><a href="{{ url_for('home') }}">Home </a> &nbsp;/&nbsp; S'enregistrer</h2>
                </div>
            </div>
        </section>
        <!-- END SECTION HEADINGS -->
        <!-- START SECTION 404 -->
        <div id="login">
            <div class="login">
                {% include 'components/status.twig' %}
                <form action="{{ url_for('auth.signup') }}" method="post">
                    {{ csrf() | raw }}
                    <div class="form-group">
                        <label>Prénom</label>
                        <input class="form-control{{ errors.first_name ? ' is-invalid' : '' }}" type="text" name="first_name" placeholder="e.g Alex" value="{{ old.first_name }}">
                        <i class="ti-user"></i>
                        {% if errors.first_name %}
                            <div class="invalid-feedback"> {{ errors.first_name | first }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Nom</label>
                        <input class="form-control{{ errors.last_name ? ' is-invalid' : '' }}" type="text" name="last_name" placeholder="e.g Garrett-Smith" value="{{ old.last_name }}">
                        <i class="ti-user"></i>
                        {% if errors.last_name %}
                            <div class="invalid-feedback"> {{ errors.last_name | first }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control{{ errors.email ? ' is-invalid' : '' }}" type="email" name="email" placeholder="e.g alex@codecourse.com" value="{{ old.email }}">
                        <i class="icon_mail_alt"></i>
                        {% if errors.email %}
                            <div class="invalid-feedback"> {{ errors.email | first }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input class="form-control{{ errors.password ? ' is-invalid' : '' }}" type="password" name="password">
                        <i class="icon_lock_alt"></i>
                        {% if errors.password %}
                            <div class="invalid-feedback"> {{ errors.password | first }}
                            </div>
                        {% endif %}
                    </div>
                    <div id="pass-info" class="clearfix"></div>
                    <button type="submit" class="btn_1 rounded full-width add_top_30">
                        S'enregistrer
                    </button>
                    <div class="text-center add_top_10">Vous avez déjà un compte? <strong><a href="{{ url_for('auth.signin') }}">Se connecter</a></strong></div>
                </form>
            </div>
        </div>
        <!-- END SECTION 404 -->
{% endblock %}